h1 {
  font-size: 3em;
  font-weight: bold;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol {
  list-style-type: georgian;
  list-style-position: inside;
}
.personalInfo {
  margin: 2px;
  float: left;
  border: thin black solid;
  width: 55%;
}

#quiz {
  border: thin black solid;
  width: 40%;
  float: right;
}
