body {
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol {
  list-style-type: georgian;
  list-style-position: inside;
}

footer {
  font-size: 0.5em;
  position: fixed;
  bottom: 0;
}

.textArea {
  background-color: rgba(0, 0, 0, 0.6);
  color: gold;
}
.personalInfo {
  margin: 2px;
  float: left;
  border: thin black solid;
  width: 55%;
}

#quiz {
  border: thin black solid;
  width: 40%;
  float: right;
}

#backgroundImage {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.45;
  z-index: -1;
}
