body {
  background-color: rgb(138, 138, 138);
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

header h1 {
  color: silver;
  text-align: right;
  font-weight: 100;
  padding-right: 20px;
}

div {
  padding: 10px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}

footer {
  font-size: 0.5em;
  position: fixed;
  bottom: 0;
}

.textArea {
  background-color: rgba(223, 223, 223, 0.856);
  color: black;
  box-shadow: 3px 3px 5px black;
}

.personalInfo {
  margin: 20px 10px;
  float: left;
  border: thin black solid;
  width: 28%;
  height: 400px;
}

.personalInfo span {
  display: block;
}

.title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration-line: underline;
}

#quiz {
  border: thin white solid;
  margin: 1px 15px;
}

.clearfix::after {
  content: ' ';
  clear: both;
  display: block;
  visibility: hidden;
}

#personalBlurb {
  background-color: inherit;
  font-size: 1.2em;
  padding-bottom: 10px;
  border-bottom: medium solid white;
}
